html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.home {
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 100px;
}

.rectangle-2 {
    background: #f8eddd;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.group-168 {
    position: absolute;
    inset: 0;
}

.group-1 {
    width: 209px;
    height: 48px;
    position: static;
}

.frame-168 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc(50% - 900px);
    top: 50%;
    translate: 0 -50%;
}

.design-sem-nome-22-1 {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: flex-end;
    object-fit: cover;
    aspect-ratio: 1;
}

.skin-clinic {
    color: #000000;
    text-align: left;
    font-family: "PlayfairDisplay-Bold", sans-serif;
    font-size: 34px;
    font-weight: 700;
    position: relative;
}

.frame-189 {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 40px;
    top: 31px;
}

.frame-188 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.frame-184 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.home2 {
    color: #000000;
    text-align: left;
    font-family: "Lato-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.frame-185 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.clientes {
    color: #000000;
    text-align: left;
    font-family: "Lato-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.frame-186 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.produtos {
    color: #000000;
    text-align: left;
    font-family: "Lato-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.frame-187 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.vendas {
    color: #000000;
    text-align: left;
    font-family: "Lato-Medium", sans-serif;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

.avatar {
    background: #9e896a;
    border-radius: 200px;
    border-style: solid;
    border-color: #9e896a;
    border-width: 2px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.image-107 {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: relative;
    object-fit: cover;
    aspect-ratio: 1;
}

.frame-624992 {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    justify-content: flex-start;
    width: 1240px;
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 725px;
}

.frame-624988 {
    background: #cbb99c;
    border-radius: 12px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.centro-oeste-aulas-personaliza-o-qualidade-e-prop-sito-no-ensino-transformamos-a-educa-o-em-bras-lia-e-regi-es-com-aulas-presenciais-e-virtuais-que-desenvolvem-habilidades-como-foco-determina-o-e-autoconfian-a-mais-do-que-aprendizado-ajudamos-estudantes-a-descobrirem-seu-prop-sito-e-constru-rem-futuros-brilhantes {
    color: #000000;
    text-align: left;
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.frame-624989 {
    background: #cbb99c;
    border-radius: 12px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.frame-624990 {
    background: #cbb99c;
    border-radius: 12px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.frame-624991 {
    background: #cbb99c;
    border-radius: 12px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

.dermatology-skin-c {
    color: #000000;
    text-align: center;
    font-family: "Lato-Bold", sans-serif;
    font-size: 36px;
    line-height: 65px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    translate: -50%;
    top: 626px;
    width: 491px;
    height: 63px;
}

.bitmap {
    position: absolute;
    inset: 0;
}

.sl-071322-51620-01 {
    background: linear-gradient( to left, rgba(158, 137, 106, 0.2), rgba(158, 137, 106, 0.2));
    width: 100%;
    height: 50.63%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 9.67%;
    bottom: 41.7%;
}

.group-88 {
    position: absolute;
    inset: 0;
}

.frame-624994 {
    background: #f8eddd;
    border-radius: 12px;
    padding: 24px 36px 24px 36px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 563px;
    position: absolute;
    right: 150px;
    top: 195px;
}

.frame-624993 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 132px;
    position: relative;
}

.dermatology-skin-c2 {
    color: #9e896a;
    text-align: left;
    font-family: "PlayfairDisplay-Bold", sans-serif;
    font-size: 52px;
    line-height: 65px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    height: 63px;
}

.treating-all-skin-co {
    color: var(--font-color, #333333);
    text-align: left;
    font-family: "Lato-Medium", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    align-self: stretch;
    height: 36.13px;
}

.frame-6249922 {
    background: #9e896a;
    border-radius: 12px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 61px;
    position: relative;
}

.centro-oeste-aulas-personaliza-o-qualidade-e-prop-sito-no-ensino-transformamos-a-educa-o-em-bras-lia-e-regi-es-com-aulas-presenciais-e-virtuais-que-desenvolvem-habilidades-como-foco-determina-o-e-autoconfian-a-mais-do-que-aprendizado-ajudamos-estudantes-a-descobrirem-seu-prop-sito-e-constru-rem-futuros-brilhantes2 {
    color: #ffffff;
    text-align: left;
    font-family: "Lato-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gestao-botao,
.cadastro-botao {
    text-decoration: none;
    color: #000;
    background-color: #9e896a;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: background 0.2s;
}

.gestao-botao:hover,
.cadastro-botao:hover {
    background-color: #e2d4ba;
    cursor: pointer;
    color: #9e896a;
}